<!DOCTYPE HTML>
<html lang="en">
	<head>
	<title>Demo form</title>
	</head>
	<body>
		<h1>Contact us</h1>
		<form action="." method="POST">

			    	<input name=" user_email" type="text" placeholder="email" value=""><br><br>
			    	<input name=" password" type="text" placeholder="email" value=""><br><br>
<!-- 			    	<input name=" user_email" type="text" placeholder="email" value="">
			    	<input name=" user_email" type="text" placeholder="email" value="">
			    	<input name=" user_email" type="text" placeholder="email" value=""> -->
			<p><input type="submit" value="Submit"></p>
		</form>
	</body>
</html>