<!DOCTYPE HTML>
<html lang="en">
	<head>
	<title>Demo form</title>
	</head>
	<body>
		<h1>Contact us</h1>
		<form action="." method="POST">
			<input name="user_name" type="text" placeholder="username" value=""><br><br>		
	    	<input name=" user_email" type="email" placeholder="email" value=""><br><br>
	    	<input name=" user_fname" type="text" placeholder="first name" value=""><br><br>
	    	<input name=" user_lname" type="text" placeholder="last name" value=""><br><br>
	    	<input name=" user_gender" type="text" placeholder="Gender" value=""><br><br>
			<input name="password" type="password" placeholder="password" value=""><br><br>
			<p><input type="submit" value="Submit"></p>
		</form>
	</body>
</html>